#App {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grandparent {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parent {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#child {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}
